@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ud-rojo: #e4032e;
  --color-ud-amarillo: #ffdf05;
  --color-ud-azul: #1291c0;
  --color-ud-verde: #00a859;
  --color-ud-morado: #7f0087;
  --color-ud-negro: #000000;
  --color-ud-oscuro: #1a1a1a;
  --color-ud-gris: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
